In [23]:
import numpy as np
import pandas as pd
import csv
import datetime
import matplotlib.pyplot as plt

In [2]:
def readGoogleAnalytics(filename):
    header = ['category','date','OS','browser','version','type','expression','localization','local time','remote time','total time','status']
    df = pd.DataFrame(columns=header)
    i = 0
    with open(filename, "r") as csvfile:
        reader = csv.DictReader(filter(lambda row: row[0] != '#', csvfile))
        for rows in reader:
            row = list(rows.values())[0]
            words = row[0].split(sep=',')
            if (len(header) == len((words))):
                df.loc[i] = words
                i = i+1
    return df

In [3]:
#df = readGoogleAnalytics('gace.csv')
#df = readGoogleAnalytics('gace160826.csv')
#df = readGoogleAnalytics('gace160829.csv')
df = readGoogleAnalytics('gace 160913.csv')
df

,category,date,OS,browser,version,type,expression,localization,local time,remote time,total time,status
0,column name,2016/08/25 21:45:58,MacIntel,Chrome,52.0.2743.116,COLUMN_NAMES,"'""hello""' at 0",local,0,0,0,OK
1,doc,2016/08/31 16:09:19,Intel Mac OS X 10.11.6,Chrome,52.0.2743.116,VALUE_DOC,abs,remote,0,176,176,OK
2,doc,2016/08/31 16:09:20,Intel Mac OS X 10.11.6,Chrome,52.0.2743.116,VALUE_DOC,all,remote,0,171,171,OK
3,doc,2016/08/31 16:09:20,Intel Mac OS X 10.11.6,Chrome,52.0.2743.116,VALUE_DOC,any,remote,0,163,163,OK
4,doc,2016/08/31 16:09:22,Intel Mac OS X 10.11.6,Chrome,52.0.2743.116,VALUE_DOC,ArithmeticError,remote,0,164,164,OK
5,doc,2016/08/31 16:09:22,Intel Mac OS X 10.11.6,Chrome,52.0.2743.116,VALUE_DOC,ascii,remote,0,164,164,OK
6,doc,2016/08/31 16:09:26,Intel Mac OS X 10.11.6,Chrome,52.0.2743.116,VALUE_DOC,print,remote,0,164,164,OK
7,doc,2016/08/31 16:09:40,Intel Mac OS X 10.11.6,Chrome,52.0.2743.116,VALUE_DOC,pow,remote,0,168,168,OK
8,doc,2016/09/01 06:58:27,Intel Mac OS X 10.11.6,Chrome,52.0.2743.116,VALUE_DOC,theano.compile.function_module.check_equal,remote,0,167,167,OK
9,doc,2016/09/01 06:59:38,Intel Mac OS X 10.11.6,Chrome,52.0.2743.116,VALUE_DOC,theano.compile.function_module.convert_functi...,remote,0,159,159,OK
10,doc,2016/09/01 16:23:12,Intel Mac OS X 10.11.6,Safari,601.7.7,VALUE_DOC,np.abs,remote,0,142,142,OK
11,doc,2016/09/01 16:23:12,Intel Mac OS X 10.11.6,Safari,601.7.7,VALUE_DOC,np.absolute,remote,0,143,143,OK
12,doc,2016/09/01 16:23:13,Intel Mac OS X 10.11.6,Safari,601.7.7,VALUE_DOC,np._NoValue,remote,0,139,139,OK
13,doc,2016/09/01 16:23:15,Intel Mac OS X 10.11.6,Safari,601.7.7,MODULE_DOC,np._mat,remote,0,141,141,OK
14,doc,2016/09/01 16:23:16,Intel Mac OS X 10.11.6,Safari,601.7.7,MODULE_DOC,np._import_tools,remote,0,141,141,OK
15,doc,2016/09/01 16:23:21,Intel Mac OS X 10.11.6,Safari,601.7.7,VALUE_DOC,pd._np_version_under1p10,remote,0,1224,1224,OK
16,doc,2016/09/01 16:23:26,Intel Mac OS X 10.11.6,Safari,601.7.7,VALUE_DOC,pd._np_version_under1p9,remote,0,142,142,OK
17,doc,2016/09/01 16:23:27,Intel Mac OS X 10.11.6,Safari,601.7.7,VALUE_DOC,pd._np_version_under1p8,remote,0,140,140,OK
18,doc,2016/09/01 16:23:31,Intel Mac OS X 10.11.6,Safari,601.7.7,MODULE_DOC,pd._period,remote,0,141,141,OK
19,doc,2016/09/01 16:23:32,Intel Mac OS X 10.11.6,Safari,601.7.7,MODULE_DOC,pd._sparse,remote,0,139,139,OK
20,doc,2016/09/01 16:23:33,Intel Mac OS X 10.11.6,Safari,601.7.7,MODULE_DOC,pd._testing,remote,0,140,140,OK
21,doc,2016/09/01 16:23:33,Intel Mac OS X 10.11.6,Safari,601.7.7,MODULE_DOC,pd._version,remote,0,140,140,OK
22,doc,2016/09/01 16:23:35,Intel Mac OS X 10.11.6,Safari,601.7.7,VALUE_DOC,pd._np_version_under1p11,remote,0,141,141,OK
23,doc,2016/09/01 16:23:35,Intel Mac OS X 10.11.6,Safari,601.7.7,VALUE_DOC,pd._np_version_under1p12,remote,0,141,141,OK
24,doc,2016/09/01 16:23:49,Intel Mac OS X 10.11.6,Safari,601.7.7,VALUE_DOC,pd.Categorical,remote,0,147,147,OK
25,doc,2016/09/06 14:39:27,Win64,Chrome,52.0.2743.116,VALUE,norm.rvs,local,171,0,171,OK
26,doc,2016/09/06 15:25:28,Intel Mac OS X 10.11.6,Chrome,52.0.2743.116,MODULE,datapad.plot,local,194,0,194,OK
27,doc,2016/09/06 15:25:33,Intel Mac OS X 10.11.6,Chrome,52.0.2743.116,VALUE,pd,local,2257,0,2257,OK
28,doc,2016/09/06 15:25:40,Intel Mac OS X 10.11.6,Chrome,52.0.2743.116,MODULE,pandas,local,163,0,163,OK
29,doc,2016/09/06 15:25:46,Intel Mac OS X 10.11.6,Chrome,52.0.2743.116,VALUE_DOC,pd.Categorical,remote,0,179,179,OK
...,...,...,...,...,...,...,...,...,...,...,...,...
491,name,2016/09/12 14:12:20,Win64,Chrome,52.0.2743.116,EXPRESSION_ATTRIBUTES,np,combined,65,3999,4064,OK
492,name,2016/09/12 14:12:27,Win64,Chrome,52.0.2743.116,EXPRESSION_ATTRIBUTES,np.random,remote,0,236,236,OK
493,name,2016/09/12 14:12:29,Win64,Chrome,52.0.2743.116,EXPRESSION_ATTRIBUTES,np.random,remote,0,12668,12668,OK
494,name,2016/09/12 14:12:57,Win64,Chrome,52.0.2743.116,EXPRESSION_ATTRIBUTES,np,local,94,0,94,OK
495,name,2016/09/12 14:13:02,Win64,Chrome,52.0.2743.116,EXPRESSION_ATTRIBUTES,np,combined,129,12707,12836,OK
496,name,2016/09/12 14:13:13,Win64,Chrome,52.0.2743.116,EXPRESSION_ATTRIBUTES,np.random,remote,0,10097,10097,OK
497,name,2016/09/12 14:13:18,Win64,Chrome,52.0.2743.116,EXPRESSION_ATTRIBUTES,np.random,remote,0,11974,11974,OK
498,name,2016/09/12 14:13:41,Win64,Chrome,52.0.2743.116,EXPRESSION_ATTRIBUTES,np,combined,17,6060,6077,OK
499,name,2016/09/12 14:13:50,Win64,Chrome,52.0.2743.116,EXPRESSION_ATTRIBUTES,np,combined,61,10030,10091,OK
500,name,2016/09/12 14:14:04,Win64,Chrome,52.0.2743.116,EXPRESSION_ATTRIBUTES,np.random,remote,0,3806,3806,OK
501,name,2016/09/12 14:14:09,Win64,Chrome,52.0.2743.116,EXPRESSION_ATTRIBUTES,np.random,remote,0,5722,5722,OK
502,name,2016/09/12 16:19:56,Intel Mac OS X 10.11.6,Chrome,53.0.2785.101,EXPRESSION_ATTRIBUTES,pd,combined,14,192,206,OK
503,name,2016/09/12 16:19:58,Intel Mac OS X 10.11.6,Chrome,53.0.2785.101,EXPRESSION_ATTRIBUTES,pd,combined,7,139,146,OK
504,name,2016/09/12 16:20:01,Intel Mac OS X 10.11.6,Chrome,53.0.2785.101,EXPRESSION_ATTRIBUTES,pd,combined,7,141,148,OK
505,name,2016/09/12 16:20:16,Intel Mac OS X 10.11.6,Chrome,53.0.2785.101,EXPRESSION_ATTRIBUTES,pd,combined,8,2450,2458,OK
506,name,2016/09/12 16:20:32,Intel Mac OS X 10.11.6,Chrome,53.0.2785.101,EXPRESSION_ATTRIBUTES,pd,combined,7,215,222,OK
507,name,2016/09/12 16:23:05,Intel Mac OS X 10.11.6,Chrome,53.0.2785.101,MODULE_ATTRIBUTES,sklearn,remote,0,173,173,OK
508,name,2016/09/12 16:23:08,Intel Mac OS X 10.11.6,Chrome,53.0.2785.101,FROM_IMPORT,sklearn.cross_validation,remote,0,507,507,OK
509,name,2016/09/12 16:25:22,Intel Mac OS X 10.11.6,Chrome,53.0.2785.101,EXPRESSION_ATTRIBUTES,np,local,92,0,92,OK
510,name,2016/09/12 16:25:41,Intel Mac OS X 10.11.6,Chrome,53.0.2785.101,EXPRESSION_ATTRIBUTES,np,local,36,0,36,OK
511,name,2016/09/12 16:27:30,Intel Mac OS X 10.11.6,Chrome,53.0.2785.101,EXPRESSION_ATTRIBUTES,np,local,79,0,79,OK
512,name,2016/09/12 16:27:43,Intel Mac OS X 10.11.6,Chrome,53.0.2785.101,EXPRESSION_ATTRIBUTES,pd,local,21,0,21,OK
513,name,2016/09/12 17:07:43,Intel Mac OS X 10.11.6,Chrome,53.0.2785.101,MODULE_ATTRIBUTES,sklearn,remote,0,137,137,FAIL
514,name,2016/09/12 17:07:46,Intel Mac OS X 10.11.6,Chrome,53.0.2785.101,MODULE_ATTRIBUTES,sklearn,remote,0,131,131,FAIL
515,name,2016/09/12 17:07:47,Intel Mac OS X 10.11.6,Chrome,53.0.2785.101,MODULE_ATTRIBUTES,sklearn,remote,0,131,131,FAIL
516,name,2016/09/12 17:07:49,Intel Mac OS X 10.11.6,Chrome,53.0.2785.101,MODULE_ATTRIBUTES,sklearn,remote,0,416,416,FAIL
517,name,2016/09/12 17:07:59,Intel Mac OS X 10.11.6,Chrome,53.0.2785.101,MODULE_ATTRIBUTES,sklearn,remote,0,9405,9405,OK
518,name,2016/09/12 17:08:13,Intel Mac OS X 10.11.6,Chrome,53.0.2785.101,MODULE_ATTRIBUTES,sklearn,remote,0,1870,1870,OK
519,name,2016/09/13 06:41:48,Intel Mac OS X 10.11.6,Chrome,52.0.2743.116,MODULE_ATTRIBUTES,theano,remote,0,132,132,FAIL
520,name,2016/09/13 06:42:02,Intel Mac OS X 10.11.6,Chrome,52.0.2743.116,MODULE_ATTRIBUTES,theano,remote,0,133,133,FAIL

In [4]:
# data casting
df["local time"] = df["local time"].astype(int)
df["remote time"] = df["remote time"].astype(int)
df["total time"] = df["total time"].astype(int)
# pivot the data
pt = pd.pivot_table(df, index=['expression', 'localization'], values=["total time"], aggfunc=[np.mean, np.std, np.min, np.max, len])
pt

                                                                         mean  \
                                                                   total time
expression                                         localization
 "hello"                                            remote        5508.000000
 '"hello"' at 0                                     local            0.000000
 ArithmeticError                                    remote         164.000000
 a                                                  combined      1164.000000
 abs                                                remote         176.000000
 aes                                                local          168.000000
 all                                                remote         171.000000
 any                                                remote         163.000000
 ascii                                              remote         164.000000
 astropy                                            remote        2275.500000
 boston_data                                        combined      4943.666667
 boston_df                                          combined     11948.250000
 california_housing                                 combined      7847.000000
                                                    local           19.000000
 california_housing.fetch_california_housing()      remote         210.500000
 dat['x']                                           combined       166.000000
                                                    remote         166.500000
 datapad                                            remote         170.000000
 datapad.core                                       remote         172.500000
 datapad.core.workbook                              remote         161.000000
 datapad.core.workbook.completion                   remote         169.000000
 datapad.core.workbook.completion._get_module_a...  local          166.000000
 datapad.plot                                       local          194.000000
 datasets                                           combined       201.000000
 datasets.load_iris                                 local          182.000000
 datetime                                           combined     10183.000000
                                                    local           62.666667
                                                    remote        7340.500000
 datetime()                                         remote         190.000000
 df                                                 combined       186.000000
...                                                                       ...
 pt                                                 local           87.666667
 scipi.stats                                        remote         189.500000
 scipy                                              remote         476.625000
 scipy.stats                                        remote        1957.000000
 sklearn                                            combined      6134.166667
                                                    remote         692.121951
 sklearn.cross_validation                           remote         341.000000
 sklearn.cross_validation.train_test_split          remote         156.000000
 sklearn.datasets                                   combined       176.500000
                                                    remote        1454.142857
 sklearn.decomposition                              remote         149.500000
 sklearn.linear_model                               combined       541.000000
                                                    remote         200.000000
 sklearn.preprocessing                              remote         367.000000
 sn                                                 combined     17971.000000
 snf                                                local           16.000000
 sta                                                remote       36997.000000
 statsmodels                                        combined       411.000000
                                                    remote       24129.333333
 statsmodels.regression                             remote        3462.000000
 statsmodels.regression.linear_model                remote         149.000000
 sympy                                              remote        4526.666667
 theano                                             combined     24451.500000
                                                    remote        8409.000000
 theano.compile.function_module                     remote        3672.500000
 theano.compile.function_module.check_equal         remote         167.000000
 theano.compile.function_module.convert_functio...  remote         159.000000
 uniform                                            combined       632.500000
 urllib                                             local           11.000000
 urllib.request                                     remote         453.000000

                                                                          std  \
                                                                   total time
expression                                         localization
 "hello"                                            remote                NaN
 '"hello"' at 0                                     local                 NaN
 ArithmeticError                                    remote                NaN
 a                                                  combined              NaN
 abs                                                remote                NaN
 aes                                                local                 NaN
 all                                                remote                NaN
 any                                                remote                NaN
 ascii                                              remote                NaN
 astropy                                            remote         669.630122
 boston_data                                        combined      6974.718346
 boston_df                                          combined      1995.729002
 california_housing                                 combined      1750.796390
                                                    local            1.732051
 california_housing.fetch_california_housing()      remote          27.577164
 dat['x']                                           combined              NaN
                                                    remote          12.020815
 datapad                                            remote                NaN
 datapad.core                                       remote           9.192388
 datapad.core.workbook                              remote                NaN
 datapad.core.workbook.completion                   remote                NaN
 datapad.core.workbook.completion._get_module_a...  local                 NaN
 datapad.plot                                       local                 NaN
 datasets                                           combined              NaN
 datasets.load_iris                                 local                 NaN
 datetime                                           combined              NaN
                                                    local           17.156146
                                                    remote        7422.499882
 datetime()                                         remote                NaN
 df                                                 combined              NaN
...                                                                       ...
 pt                                                 local           45.324754
 scipi.stats                                        remote           7.778175
 scipy                                              remote         445.446145
 scipy.stats                                        remote        3113.584215
 sklearn                                            combined      6767.885502
                                                    remote        1586.353305
 sklearn.cross_validation                           remote         234.759451
 sklearn.cross_validation.train_test_split          remote                NaN
 sklearn.datasets                                   combined         0.707107
                                                    remote        2167.667443
 sklearn.decomposition                              remote           7.778175
 sklearn.linear_model                               combined              NaN
                                                    remote          41.012193
 sklearn.preprocessing                              remote                NaN
 sn                                                 combined              NaN
 snf                                                local                 NaN
 sta                                                remote                NaN
 statsmodels                                        combined              NaN
                                                    remote       20834.860987
 statsmodels.regression                             remote                NaN
 statsmodels.regression.linear_model                remote                NaN
 sympy                                              remote        3845.994063
 theano                                             combined      3836.054288
                                                    remote       13590.524751
 theano.compile.function_module                     remote        4954.697216
 theano.compile.function_module.check_equal         remote                NaN
 theano.compile.function_module.convert_functio...  remote                NaN
 uniform                                            combined       115.258405
 urllib                                             local            1.414214
 urllib.request                                     remote                NaN

                                                                      amin  \
                                                                total time
expression                                         localization
 "hello"                                            remote            5508
 '"hello"' at 0                                     local                0
 ArithmeticError                                    remote             164
 a                                                  combined          1164
 abs                                                remote             176
 aes                                                local              168
 all                                                remote             171
 any                                                remote             163
 ascii                                              remote             164
 astropy                                            remote            1802
 boston_data                                        combined           165
 boston_df                                          combined          9509
 california_housing                                 combined          6609
                                                    local               17
 california_housing.fetch_california_housing()      remote             191
 dat['x']                                           combined           166
                                                    remote             158
 datapad                                            remote             170
 datapad.core                                       remote             166
 datapad.core.workbook                              remote             161
 datapad.core.workbook.completion                   remote             169
 datapad.core.workbook.completion._get_module_a...  local              166
 datapad.plot                                       local              194
 datasets                                           combined           201
 datasets.load_iris                                 local              182
 datetime                                           combined         10183
                                                    local               47
                                                    remote            2092
 datetime()                                         remote             190
 df                                                 combined           186
...                                                                    ...
 pt                                                 local               61
 scipi.stats                                        remote             184
 scipy                                              remote             173
 scipy.stats                                        remote             228
 sklearn                                            combined           165
                                                    remote              38
 sklearn.cross_validation                           remote             175
 sklearn.cross_validation.train_test_split          remote             156
 sklearn.datasets                                   combined           176
                                                    remote             188
 sklearn.decomposition                              remote             144
 sklearn.linear_model                               combined           541
                                                    remote             171
 sklearn.preprocessing                              remote             367
 sn                                                 combined         17971
 snf                                                local               16
 sta                                                remote           36997
 statsmodels                                        combined           411
                                                    remote             186
 statsmodels.regression                             remote            3462
 statsmodels.regression.linear_model                remote             149
 sympy                                              remote             181
 theano                                             combined         21739
                                                    remote             132
 theano.compile.function_module                     remote             169
 theano.compile.function_module.check_equal         remote             167
 theano.compile.function_module.convert_functio...  remote             159
 uniform                                            combined           551
 urllib                                             local               10
 urllib.request                                     remote             453

                                                                      amax  \
                                                                total time
expression                                         localization
 "hello"                                            remote            5508
 '"hello"' at 0                                     local                0
 ArithmeticError                                    remote             164
 a                                                  combined          1164
 abs                                                remote             176
 aes                                                local              168
 all                                                remote             171
 any                                                remote             163
 ascii                                              remote             164
 astropy                                            remote            2749
 boston_data                                        combined         21580
 boston_df                                          combined         14087
 california_housing                                 combined          9085
                                                    local               20
 california_housing.fetch_california_housing()      remote             230
 dat['x']                                           combined           166
                                                    remote             175
 datapad                                            remote             170
 datapad.core                                       remote             179
 datapad.core.workbook                              remote             161
 datapad.core.workbook.completion                   remote             169
 datapad.core.workbook.completion._get_module_a...  local              166
 datapad.plot                                       local              194
 datasets                                           combined           201
 datasets.load_iris                                 local              182
 datetime                                           combined         10183
                                                    local               81
                                                    remote           12589
 datetime()                                         remote             190
 df                                                 combined           186
...                                                                    ...
 pt                                                 local              140
 scipi.stats                                        remote             195
 scipy                                              remote            1208
 scipy.stats                                        remote            6616
 sklearn                                            combined         16578
                                                    remote            9405
 sklearn.cross_validation                           remote             507
 sklearn.cross_validation.train_test_split          remote             156
 sklearn.datasets                                   combined           177
                                                    remote            6315
 sklearn.decomposition                              remote             155
 sklearn.linear_model                               combined           541
                                                    remote             229
 sklearn.preprocessing                              remote             367
 sn                                                 combined         17971
 snf                                                local               16
 sta                                                remote           36997
 statsmodels                                        combined           411
                                                    remote           38133
 statsmodels.regression                             remote            3462
 statsmodels.regression.linear_model                remote             149
 sympy                                              remote            7492
 theano                                             combined         27164
                                                    remote           31469
 theano.compile.function_module                     remote            7176
 theano.compile.function_module.check_equal         remote             167
 theano.compile.function_module.convert_functio...  remote             159
 uniform                                            combined           714
 urllib                                             local               12
 urllib.request                                     remote             453

                                                                       len
                                                                total time
expression                                         localization
 "hello"                                            remote               1
 '"hello"' at 0                                     local                1
 ArithmeticError                                    remote               1

In [5]:
T = df["date"]
T

0       2016/08/25 21:45:58
1       2016/08/31 16:09:19
2       2016/08/31 16:09:20
3       2016/08/31 16:09:20
4       2016/08/31 16:09:22
5       2016/08/31 16:09:22
6       2016/08/31 16:09:26
7       2016/08/31 16:09:40
8       2016/09/01 06:58:27
9       2016/09/01 06:59:38
10      2016/09/01 16:23:12
11      2016/09/01 16:23:12
12      2016/09/01 16:23:13
13      2016/09/01 16:23:15
14      2016/09/01 16:23:16
15      2016/09/01 16:23:21
16      2016/09/01 16:23:26
17      2016/09/01 16:23:27
18      2016/09/01 16:23:31
19      2016/09/01 16:23:32
20      2016/09/01 16:23:33
21      2016/09/01 16:23:33
22      2016/09/01 16:23:35
23      2016/09/01 16:23:35
24      2016/09/01 16:23:49
25      2016/09/06 14:39:27
26      2016/09/06 15:25:28
27      2016/09/06 15:25:33
28      2016/09/06 15:25:40
29      2016/09/06 15:25:46
               ...
491     2016/09/12 14:12:20
492     2016/09/12 14:12:27
493     2016/09/12 14:12:29
494     2016/09/12 14:12:57
495     2016/09/12 14:13:02
496     2016/09/12 14:13:13
497     2016/09/12 14:13:18
498     2016/09/12 14:13:41
499     2016/09/12 14:13:50
500     2016/09/12 14:14:04
501     2016/09/12 14:14:09
502     2016/09/12 16:19:56
503     2016/09/12 16:19:58
504     2016/09/12 16:20:01
505     2016/09/12 16:20:16
506     2016/09/12 16:20:32
507     2016/09/12 16:23:05
508     2016/09/12 16:23:08
509     2016/09/12 16:25:22
510     2016/09/12 16:25:41
511     2016/09/12 16:27:30
512     2016/09/12 16:27:43
513     2016/09/12 17:07:43
514     2016/09/12 17:07:46
515     2016/09/12 17:07:47
516     2016/09/12 17:07:49
517     2016/09/12 17:07:59
518     2016/09/12 17:08:13
519     2016/09/13 06:41:48
520     2016/09/13 06:42:02
Name: date, dtype: object

In [8]:
x = df["date"]
base = datetime.datetime.strptime(x[0][1:], "%Y/%m/%d %H:%M:%S")
t = np.array([base + datetime.timedelta(hours=i) for i in range(len(x))])
for i in range(len(x)):
    t[i] = datetime.datetime.strptime(x[i][1:], "%Y/%m/%d %H:%M:%S")

In [15]:
# plot time series with datetime as time stamp
x = sorted(t)
y = df["total time"]
#plt.plot(x, y)
plt.plot_date(x,y)
plt.show()

In [14]:
plt.plot_date(x,y)
ax = plt.subplot(111)
ax.bar(x,y)
ax.xaxis_date()
plt.show()

In [13]:
T[0][1:]

'2016/08/25 21:45:58'

In [21]:
# converting string to date
string_date = T[0][1:]
from datetime import datetime
t = datetime.strptime(string_date,"%Y/%m/%d %H:%M:%S")
t.date()
t.time().hour

21

In [25]:
x = df["date"]
base = datetime.datetime.strptime(x[0][1:],"%Y/%m/%d %H:%M:%S")
t = np.array([base + datetime.timedelta(hours=i) for i in range(len(x))])
for i in range(len(x)):
    t[i] = datetime.datetime.strptime(x[i][1:],"%Y/%m/%d %H:%M:%S")

In [26]:
t

array([datetime.datetime(2016, 8, 25, 21, 45, 58),
       datetime.datetime(2016, 8, 31, 16, 9, 19),
       datetime.datetime(2016, 8, 31, 16, 9, 20),
       datetime.datetime(2016, 8, 31, 16, 9, 20),
       datetime.datetime(2016, 8, 31, 16, 9, 22),
       datetime.datetime(2016, 8, 31, 16, 9, 22),
       datetime.datetime(2016, 8, 31, 16, 9, 26),
       datetime.datetime(2016, 8, 31, 16, 9, 40),
       datetime.datetime(2016, 9, 1, 6, 58, 27),
       datetime.datetime(2016, 9, 1, 6, 59, 38),
       datetime.datetime(2016, 9, 1, 16, 23, 12),
       datetime.datetime(2016, 9, 1, 16, 23, 12),
       datetime.datetime(2016, 9, 1, 16, 23, 13),
       datetime.datetime(2016, 9, 1, 16, 23, 15),
       datetime.datetime(2016, 9, 1, 16, 23, 16),
       datetime.datetime(2016, 9, 1, 16, 23, 21),
       datetime.datetime(2016, 9, 1, 16, 23, 26),
       datetime.datetime(2016, 9, 1, 16, 23, 27),
       datetime.datetime(2016, 9, 1, 16, 23, 31),
       datetime.datetime(2016, 9, 1, 16, 23, 32),
       datetime.datetime(2016, 9, 1, 16, 23, 33),
       datetime.datetime(2016, 9, 1, 16, 23, 33),
       datetime.datetime(2016, 9, 1, 16, 23, 35),
       datetime.datetime(2016, 9, 1, 16, 23, 35),
       datetime.datetime(2016, 9, 1, 16, 23, 49),
       datetime.datetime(2016, 9, 6, 14, 39, 27),
       datetime.datetime(2016, 9, 6, 15, 25, 28),
       datetime.datetime(2016, 9, 6, 15, 25, 33),
       datetime.datetime(2016, 9, 6, 15, 25, 40),
       datetime.datetime(2016, 9, 6, 15, 25, 46),
       datetime.datetime(2016, 9, 6, 15, 25, 47),
       datetime.datetime(2016, 9, 6, 15, 25, 47),
       datetime.datetime(2016, 9, 6, 15, 25, 49),
       datetime.datetime(2016, 9, 6, 15, 25, 49),
       datetime.datetime(2016, 9, 6, 15, 25, 49),
       datetime.datetime(2016, 9, 6, 15, 25, 49),
       datetime.datetime(2016, 9, 6, 15, 25, 50),
       datetime.datetime(2016, 9, 6, 15, 25, 50),
       datetime.datetime(2016, 9, 6, 15, 25, 51),
       datetime.datetime(2016, 9, 6, 15, 28, 6),
       datetime.datetime(2016, 9, 6, 15, 29, 45),
       datetime.datetime(2016, 9, 7, 13, 0, 8),
       datetime.datetime(2016, 9, 7, 13, 0, 24),
       datetime.datetime(2016, 9, 7, 13, 41, 19),
       datetime.datetime(2016, 9, 9, 10, 24, 48),
       datetime.datetime(2016, 9, 9, 10, 24, 54),
       datetime.datetime(2016, 9, 12, 9, 31, 24),
       datetime.datetime(2016, 9, 12, 11, 49, 15),
       datetime.datetime(2016, 9, 12, 11, 49, 24),
       datetime.datetime(2016, 9, 12, 12, 39, 18),
       datetime.datetime(2016, 9, 12, 16, 20, 19),
       datetime.datetime(2016, 9, 12, 16, 20, 20),
       datetime.datetime(2016, 9, 12, 16, 20, 21),
       datetime.datetime(2016, 9, 12, 16, 20, 21),
       datetime.datetime(2016, 9, 12, 16, 20, 21),
       datetime.datetime(2016, 9, 12, 16, 20, 28),
       datetime.datetime(2016, 9, 12, 16, 20, 28),
       datetime.datetime(2016, 9, 12, 16, 20, 28),
       datetime.datetime(2016, 9, 12, 16, 20, 30),
       datetime.datetime(2016, 9, 12, 16, 20, 30),
       datetime.datetime(2016, 9, 12, 16, 20, 34),
       datetime.datetime(2016, 9, 12, 16, 20, 34),
       datetime.datetime(2016, 9, 12, 16, 20, 34),
       datetime.datetime(2016, 9, 12, 16, 20, 36),
       datetime.datetime(2016, 9, 12, 16, 20, 37),
       datetime.datetime(2016, 9, 12, 16, 20, 37),
       datetime.datetime(2016, 9, 12, 16, 20, 38),
       datetime.datetime(2016, 9, 12, 16, 20, 38),
       datetime.datetime(2016, 9, 12, 16, 20, 39),
       datetime.datetime(2016, 9, 12, 16, 20, 39),
       datetime.datetime(2016, 9, 12, 16, 20, 40),
       datetime.datetime(2016, 9, 12, 16, 21, 33),
       datetime.datetime(2016, 9, 12, 16, 23, 10),
       datetime.datetime(2016, 8, 25, 15, 37, 47),
       datetime.datetime(2016, 8, 25, 15, 39, 46),
       datetime.datetime(2016, 8, 25, 15, 40),
       datetime.datetime(2016, 8, 25, 15, 40, 3),
       datetime.datetime(2016, 8, 25, 15, 40, 13),
       datetime.datetime(2016, 8, 25, 15, 40, 22),
       datetime.datetime(2016, 8, 25, 15, 40, 48),
       datetime.datetime(2016, 8, 25, 15, 40, 55),
       datetime.datetime(2016, 8, 25, 15, 40, 59),
       datetime.datetime(2016, 8, 25, 15, 41, 1),
       datetime.datetime(2016, 8, 25, 15, 41, 20),
       datetime.datetime(2016, 8, 25, 15, 41, 26),
       datetime.datetime(2016, 8, 25, 15, 41, 32),
       datetime.datetime(2016, 8, 25, 15, 42, 27),
       datetime.datetime(2016, 8, 25, 15, 45, 15),
       datetime.datetime(2016, 8, 25, 15, 45, 20),
       datetime.datetime(2016, 8, 25, 15, 45, 25),
       datetime.datetime(2016, 8, 25, 15, 45, 25),
       datetime.datetime(2016, 8, 25, 15, 45, 28),
       datetime.datetime(2016, 8, 25, 15, 45, 30),
       datetime.datetime(2016, 8, 25, 15, 45, 39),
       datetime.datetime(2016, 8, 25, 15, 46, 26),
       datetime.datetime(2016, 8, 25, 15, 46, 37),
       datetime.datetime(2016, 8, 25, 15, 47, 34),
       datetime.datetime(2016, 8, 25, 15, 47, 51),
       datetime.datetime(2016, 8, 25, 15, 47, 57),
       datetime.datetime(2016, 8, 25, 15, 50, 50),
       datetime.datetime(2016, 8, 25, 15, 52, 46),
       datetime.datetime(2016, 8, 25, 15, 53, 40),
       datetime.datetime(2016, 8, 25, 15, 53, 43),
       datetime.datetime(2016, 8, 25, 15, 53, 58),
       datetime.datetime(2016, 8, 25, 15, 54, 6),
       datetime.datetime(2016, 8, 25, 15, 54, 7),
       datetime.datetime(2016, 8, 25, 15, 54, 9),
       datetime.datetime(2016, 8, 25, 16, 12, 31),
       datetime.datetime(2016, 8, 25, 16, 12, 37),
       datetime.datetime(2016, 8, 25, 16, 12, 41),
       datetime.datetime(2016, 8, 25, 16, 12, 47),
       datetime.datetime(2016, 8, 25, 16, 29, 21),
       datetime.datetime(2016, 8, 25, 16, 29, 25),
       datetime.datetime(2016, 8, 25, 16, 29, 30),
       datetime.datetime(2016, 8, 25, 16, 29, 49),
       datetime.datetime(2016, 8, 25, 16, 30, 32),
       datetime.datetime(2016, 8, 25, 16, 31, 46),
       datetime.datetime(2016, 8, 25, 19, 6, 33),
       datetime.datetime(2016, 8, 25, 19, 6, 53),
       datetime.datetime(2016, 8, 25, 21, 46, 6),
       datetime.datetime(2016, 8, 26, 8, 51, 20),
       datetime.datetime(2016, 8, 26, 9, 43, 26),
       datetime.datetime(2016, 8, 26, 9, 50, 16),
       datetime.datetime(2016, 8, 26, 9, 50, 51),
       datetime.datetime(2016, 8, 26, 9, 51, 13),
       datetime.datetime(2016, 8, 26, 9, 51, 22),
       datetime.datetime(2016, 8, 26, 9, 57, 21),
       datetime.datetime(2016, 8, 26, 9, 57, 28),
       datetime.datetime(2016, 8, 26, 9, 57, 32),
       datetime.datetime(2016, 8, 26, 12, 45, 42),
       datetime.datetime(2016, 8, 26, 12, 46, 7),
       datetime.datetime(2016, 8, 26, 12, 46, 41),
       datetime.datetime(2016, 8, 26, 12, 46, 53),
       datetime.datetime(2016, 8, 26, 12, 50),
       datetime.datetime(2016, 8, 26, 12, 50, 15),
       datetime.datetime(2016, 8, 26, 12, 55, 50),
       datetime.datetime(2016, 8, 26, 14, 43, 3),
       datetime.datetime(2016, 8, 26, 14, 43, 35),
       datetime.datetime(2016, 8, 26, 15, 10, 20),
       datetime.datetime(2016, 8, 26, 15, 10, 23),
       datetime.datetime(2016, 8, 26, 15, 10, 55),
       datetime.datetime(2016, 8, 26, 15, 10, 59),
       datetime.datetime(2016, 8, 26, 15, 11, 11),
       datetime.datetime(2016, 8, 26, 15, 11, 15),
       datetime.datetime(2016, 8, 26, 15, 11, 28),
       datetime.datetime(2016, 8, 26, 15, 11, 31),
       datetime.datetime(2016, 8, 26, 15, 11, 47),
       datetime.datetime(2016, 8, 26, 15, 11, 47),
       datetime.datetime(2016, 8, 26, 15, 12, 33),
       datetime.datetime(2016, 8, 26, 15, 12, 36),
       datetime.datetime(2016, 8, 26, 15, 12, 39),
       datetime.datetime(2016, 8, 26, 15, 12, 45),
       datetime.datetime(2016, 8, 26, 15, 19, 46),
       datetime.datetime(2016, 8, 26, 15, 19, 48),
       datetime.datetime(2016, 8, 26, 15, 19, 54),
       datetime.datetime(2016, 8, 26, 15, 20, 18),
       datetime.datetime(2016, 8, 26, 15, 20, 21),
       datetime.datetime(2016, 8, 26, 15, 22, 50),
       datetime.datetime(2016, 8, 26, 15, 23, 10),
       datetime.datetime(2016, 8, 26, 15, 23, 45),
       datetime.datetime(2016, 8, 26, 15, 23, 48),
       datetime.datetime(2016, 8, 26, 20, 18, 5),
       datetime.datetime(2016, 8, 26, 20, 18, 7),
       datetime.datetime(2016, 8, 26, 20, 18, 9),
       datetime.datetime(2016, 8, 27, 10, 9, 56),
       datetime.datetime(2016, 8, 27, 10, 10, 8),
       datetime.datetime(2016, 8, 27, 10, 10, 18),
       datetime.datetime(2016, 8, 27, 10, 10, 23),
       datetime.datetime(2016, 8, 27, 10, 10, 26),
       datetime.datetime(2016, 8, 27, 10, 33, 40),
       datetime.datetime(2016, 8, 27, 11, 5, 26),
       datetime.datetime(2016, 8, 27, 11, 6, 59),
       datetime.datetime(2016, 8, 27, 11, 38, 24),
       datetime.datetime(2016, 8, 27, 11, 58, 40),
       datetime.datetime(2016, 8, 27, 12, 3, 29),
       datetime.datetime(2016, 8, 27, 12, 4, 5),
       datetime.datetime(2016, 8, 27, 12, 7, 55),
       datetime.datetime(2016, 8, 27, 12, 8, 3),
       datetime.datetime(2016, 8, 27, 12, 8, 26),
       datetime.datetime(2016, 8, 28, 21, 37, 17),
       datetime.datetime(2016, 8, 28, 21, 56, 19),
       datetime.datetime(2016, 8, 28, 21, 59, 32),
       datetime.datetime(2016, 8, 29, 9, 29, 1),
       datetime.datetime(2016, 8, 29, 9, 32, 38),
       datetime.datetime(2016, 8, 29, 9, 32, 42),
       datetime.datetime(2016, 8, 29, 9, 36, 2),
       datetime.datetime(2016, 8, 29, 11, 25, 44),
       datetime.datetime(2016, 8, 29, 11, 25, 46),
       datetime.datetime(2016, 8, 29, 11, 26, 8),
       datetime.datetime(2016, 8, 29, 17, 57, 42),
       datetime.datetime(2016, 8, 29, 17, 58, 3),
       datetime.datetime(2016, 8, 29, 18, 5, 34),
       datetime.datetime(2016, 8, 29, 18, 12, 12),
       datetime.datetime(2016, 8, 29, 18, 12, 21),
       datetime.datetime(2016, 8, 29, 18, 12, 42),
       datetime.datetime(2016, 8, 30, 20, 45, 40),
       datetime.datetime(2016, 8, 30, 20, 47, 34),
       datetime.datetime(2016, 8, 31, 7, 15, 43),
       datetime.datetime(2016, 8, 31, 10, 8, 55),
       datetime.datetime(2016, 8, 31, 10, 10, 1),
       datetime.datetime(2016, 8, 31, 10, 10, 5),
       datetime.datetime(2016, 8, 31, 10, 10, 16),
       datetime.datetime(2016, 8, 31, 10, 10, 23),
       datetime.datetime(2016, 8, 31, 10, 10, 34),
       datetime.datetime(2016, 8, 31, 10, 10, 37),
       datetime.datetime(2016, 8, 31, 10, 10, 53),
       datetime.datetime(2016, 8, 31, 10, 10, 56),
       datetime.datetime(2016, 8, 31, 14, 23, 4),
       datetime.datetime(2016, 8, 31, 14, 23, 7),
       datetime.datetime(2016, 9, 1, 6, 49, 25),
       datetime.datetime(2016, 9, 1, 6, 49, 27),
       datetime.datetime(2016, 9, 1, 6, 49, 34),
       datetime.datetime(2016, 9, 1, 6, 58, 15),
       datetime.datetime(2016, 9, 1, 6, 59, 36),
       datetime.datetime(2016, 9, 1, 10, 17, 47),
       datetime.datetime(2016, 9, 1, 10, 42, 42),
       datetime.datetime(2016, 9, 1, 10, 43, 22),
       datetime.datetime(2016, 9, 1, 10, 43, 43),
       datetime.datetime(2016, 9, 1, 10, 43, 49),
       datetime.datetime(2016, 9, 1, 10, 44, 3),
       datetime.datetime(2016, 9, 1, 11, 37, 2),
       datetime.datetime(2016, 9, 1, 11, 37, 5),
       datetime.datetime(2016, 9, 1, 11, 37, 13),
       datetime.datetime(2016, 9, 1, 11, 37, 47),
       datetime.datetime(2016, 9, 1, 11, 37, 50),
       datetime.datetime(2016, 9, 1, 11, 38, 3),
       datetime.datetime(2016, 9, 1, 11, 38, 28),
       datetime.datetime(2016, 9, 1, 11, 38, 30),
       datetime.datetime(2016, 9, 1, 11, 38, 56),
       datetime.datetime(2016, 9, 1, 11, 38, 57),
       datetime.datetime(2016, 9, 1, 15, 36, 27),
       datetime.datetime(2016, 9, 1, 15, 36, 35),
       datetime.datetime(2016, 9, 1, 15, 36, 37),
       datetime.datetime(2016, 9, 1, 15, 36, 40),
       datetime.datetime(2016, 9, 1, 15, 37, 29),
       datetime.datetime(2016, 9, 1, 15, 37, 34),
       datetime.datetime(2016, 9, 1, 15, 38, 59),
       datetime.datetime(2016, 9, 1, 15, 39, 51),
       datetime.datetime(2016, 9, 1, 15, 39, 56),
       datetime.datetime(2016, 9, 1, 16, 22, 29),
       datetime.datetime(2016, 9, 1, 16, 23, 10),
       datetime.datetime(2016, 9, 1, 16, 23, 19),
       datetime.datetime(2016, 9, 1, 16, 26, 46),
       datetime.datetime(2016, 9, 1, 16, 38, 32),
       datetime.datetime(2016, 9, 1, 16, 38, 38),
       datetime.datetime(2016, 9, 1, 16, 40, 59),
       datetime.datetime(2016, 9, 1, 16, 41, 3),
       datetime.datetime(2016, 9, 1, 18, 37, 41),
       datetime.datetime(2016, 9, 1, 18, 37, 46),
       datetime.datetime(2016, 9, 1, 18, 37, 58),
       datetime.datetime(2016, 9, 2, 5, 46, 5),
       datetime.datetime(2016, 9, 2, 6, 11, 11),
       datetime.datetime(2016, 9, 2, 8, 58, 2),
       datetime.datetime(2016, 9, 2, 9, 3, 11),
       datetime.datetime(2016, 9, 2, 9, 3, 28),
       datetime.datetime(2016, 9, 2, 9, 7, 47),
       datetime.datetime(2016, 9, 2, 11, 56, 54),
       datetime.datetime(2016, 9, 2, 11, 57, 20),
       datetime.datetime(2016, 9, 2, 12, 0, 26),
       datetime.datetime(2016, 9, 2, 13, 3, 23),
       datetime.datetime(2016, 9, 2, 13, 3, 27),
       datetime.datetime(2016, 9, 2, 13, 35, 52),
       datetime.datetime(2016, 9, 2, 13, 42, 42),
       datetime.datetime(2016, 9, 2, 13, 42, 42),
       datetime.datetime(2016, 9, 2, 13, 42, 45),
       datetime.datetime(2016, 9, 2, 13, 42, 46),
       datetime.datetime(2016, 9, 2, 13, 42, 50),
       datetime.datetime(2016, 9, 2, 13, 42, 53),
       datetime.datetime(2016, 9, 2, 13, 42, 59),
       datetime.datetime(2016, 9, 2, 13, 43, 5),
       datetime.datetime(2016, 9, 2, 13, 43, 7),
       datetime.datetime(2016, 9, 2, 13, 43, 31),
       datetime.datetime(2016, 9, 2, 13, 43, 35),
       datetime.datetime(2016, 9, 2, 13, 43, 52),
       datetime.datetime(2016, 9, 2, 13, 43, 57),
       datetime.datetime(2016, 9, 2, 13, 44, 5),
       datetime.datetime(2016, 9, 2, 17, 30, 42),
       datetime.datetime(2016, 9, 2, 17, 31, 4),
       datetime.datetime(2016, 9, 2, 17, 31, 11),
       datetime.datetime(2016, 9, 2, 17, 31, 16),
       datetime.datetime(2016, 9, 2, 17, 31, 20),
       datetime.datetime(2016, 9, 2, 17, 31, 28),
       datetime.datetime(2016, 9, 2, 17, 32, 38),
       datetime.datetime(2016, 9, 2, 17, 32, 54),
       datetime.datetime(2016, 9, 2, 17, 33, 6),
       datetime.datetime(2016, 9, 2, 17, 33, 25),
       datetime.datetime(2016, 9, 2, 17, 40, 53),
       datetime.datetime(2016, 9, 2, 17, 41, 37),
       datetime.datetime(2016, 9, 5, 8, 42, 54),
       datetime.datetime(2016, 9, 5, 13, 23, 1),
       datetime.datetime(2016, 9, 5, 13, 23, 5),
       datetime.datetime(2016, 9, 5, 13, 23, 56),
       datetime.datetime(2016, 9, 5, 13, 24, 2),
       datetime.datetime(2016, 9, 5, 13, 24, 21),
       datetime.datetime(2016, 9, 5, 13, 24, 23),
       datetime.datetime(2016, 9, 5, 13, 24, 34),
       datetime.datetime(2016, 9, 5, 13, 24, 40),
       datetime.datetime(2016, 9, 5, 13, 24, 59),
       datetime.datetime(2016, 9, 5, 13, 25),
       datetime.datetime(2016, 9, 5, 13, 25, 52),
       datetime.datetime(2016, 9, 5, 13, 25, 54),
       datetime.datetime(2016, 9, 5, 22, 17, 21),
       datetime.datetime(2016, 9, 5, 22, 37, 5),
       datetime.datetime(2016, 9, 5, 22, 39, 25),
       datetime.datetime(2016, 9, 6, 12, 10, 19),
       datetime.datetime(2016, 9, 6, 12, 10, 25),
       datetime.datetime(2016, 9, 6, 12, 11, 27),
       datetime.datetime(2016, 9, 6, 12, 12, 8),
       datetime.datetime(2016, 9, 6, 12, 14, 21),
       datetime.datetime(2016, 9, 6, 12, 14, 50),
       datetime.datetime(2016, 9, 6, 12, 14, 52),
       datetime.datetime(2016, 9, 6, 12, 15, 17),
       datetime.datetime(2016, 9, 6, 12, 15, 19),
       datetime.datetime(2016, 9, 6, 12, 15, 31),
       datetime.datetime(2016, 9, 6, 12, 15, 35),
       datetime.datetime(2016, 9, 6, 12, 16, 15),
       datetime.datetime(2016, 9, 6, 12, 16, 18),
       datetime.datetime(2016, 9, 6, 12, 37),
       datetime.datetime(2016, 9, 6, 12, 37, 3),
       datetime.datetime(2016, 9, 6, 13, 16, 6),
       datetime.datetime(2016, 9, 6, 13, 16, 9),
       datetime.datetime(2016, 9, 6, 13, 21, 7),
       datetime.datetime(2016, 9, 6, 13, 21, 14),
       datetime.datetime(2016, 9, 6, 13, 47, 55),
       datetime.datetime(2016, 9, 6, 14, 19, 45),
       datetime.datetime(2016, 9, 6, 14, 33, 51),
       datetime.datetime(2016, 9, 6, 14, 33, 53),
       datetime.datetime(2016, 9, 6, 14, 33, 59),
       datetime.datetime(2016, 9, 6, 14, 34, 12),
       datetime.datetime(2016, 9, 6, 14, 34, 13),
       datetime.datetime(2016, 9, 6, 14, 34, 18),
       datetime.datetime(2016, 9, 6, 14, 35, 40),
       datetime.datetime(2016, 9, 6, 14, 35, 45),
       datetime.datetime(2016, 9, 6, 14, 36, 4),
       datetime.datetime(2016, 9, 6, 14, 36, 7),
       datetime.datetime(2016, 9, 6, 14, 36, 21),
       datetime.datetime(2016, 9, 6, 14, 38, 43),
       datetime.datetime(2016, 9, 6, 14, 38, 45),
       datetime.datetime(2016, 9, 6, 14, 39, 8),
       datetime.datetime(2016, 9, 6, 14, 39, 36),
       datetime.datetime(2016, 9, 6, 14, 39, 37),
       datetime.datetime(2016, 9, 6, 14, 39, 43),
       datetime.datetime(2016, 9, 6, 14, 39, 45),
       datetime.datetime(2016, 9, 6, 14, 40, 20),
       datetime.datetime(2016, 9, 6, 14, 40, 23),
       datetime.datetime(2016, 9, 6, 14, 41, 48),
       datetime.datetime(2016, 9, 6, 14, 41, 55),
       datetime.datetime(2016, 9, 6, 15, 25, 42),
       datetime.datetime(2016, 9, 6, 15, 27, 33),
       datetime.datetime(2016, 9, 6, 15, 27, 39),
       datetime.datetime(2016, 9, 6, 15, 27, 44),
       datetime.datetime(2016, 9, 6, 15, 27, 51),
       datetime.datetime(2016, 9, 6, 15, 27, 58),
       datetime.datetime(2016, 9, 6, 17, 25, 47),
       datetime.datetime(2016, 9, 6, 17, 25, 48),
       datetime.datetime(2016, 9, 6, 17, 26, 2),
       datetime.datetime(2016, 9, 6, 17, 26, 7),
       datetime.datetime(2016, 9, 6, 17, 26, 14),
       datetime.datetime(2016, 9, 6, 17, 26, 28),
       datetime.datetime(2016, 9, 6, 17, 26, 52),
       datetime.datetime(2016, 9, 6, 17, 26, 54),
       datetime.datetime(2016, 9, 6, 17, 26, 56),
       datetime.datetime(2016, 9, 7, 6, 50, 7),
       datetime.datetime(2016, 9, 7, 7, 15, 20),
       datetime.datetime(2016, 9, 7, 8, 1, 58),
       datetime.datetime(2016, 9, 7, 8, 12, 31),
       datetime.datetime(2016, 9, 7, 8, 12, 58),
       datetime.datetime(2016, 9, 7, 8, 13, 48),
       datetime.datetime(2016, 9, 7, 8, 14, 46),
       datetime.datetime(2016, 9, 7, 12, 56, 59),
       datetime.datetime(2016, 9, 7, 14, 8, 28),
       datetime.datetime(2016, 9, 7, 14, 8, 48),
       datetime.datetime(2016, 9, 7, 14, 11, 23),
       datetime.datetime(2016, 9, 7, 14, 11, 33),
       datetime.datetime(2016, 9, 8, 18, 4, 55),
       datetime.datetime(2016, 9, 9, 10, 28, 30),
       datetime.datetime(2016, 9, 9, 10, 28, 33),
       datetime.datetime(2016, 9, 9, 10, 28, 41),
       datetime.datetime(2016, 9, 9, 10, 28, 42),
       datetime.datetime(2016, 9, 9, 10, 29, 11),
       datetime.datetime(2016, 9, 9, 10, 30, 36),
       datetime.datetime(2016, 9, 9, 10, 30, 41),
       datetime.datetime(2016, 9, 9, 10, 33, 13),
       datetime.datetime(2016, 9, 9, 10, 34, 50),
       datetime.datetime(2016, 9, 9, 10, 36, 4),
       datetime.datetime(2016, 9, 9, 12, 12, 42),
       datetime.datetime(2016, 9, 9, 12, 28, 41),
       datetime.datetime(2016, 9, 9, 12, 28, 57),
       datetime.datetime(2016, 9, 9, 12, 29, 41),
       datetime.datetime(2016, 9, 9, 12, 29, 43),
       datetime.datetime(2016, 9, 9, 12, 30, 30),
       datetime.datetime(2016, 9, 9, 12, 31, 18),
       datetime.datetime(2016, 9, 9, 12, 31, 21),
       datetime.datetime(2016, 9, 9, 12, 31, 32),
       datetime.datetime(2016, 9, 9, 12, 34, 56),
       datetime.datetime(2016, 9, 9, 12, 35, 54),
       datetime.datetime(2016, 9, 9, 12, 35, 58),
       datetime.datetime(2016, 9, 9, 13, 55, 54),
       datetime.datetime(2016, 9, 9, 13, 55, 58),

In [27]:
import matplotlib.pyplot as plt
# plot time series with datetime as time stamp
x = t
y = df["total time"]
plt.plot(x,y)
plt.show()

In [228]:
t = np.zeros(len(x))
t

array([ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.])

In [224]:
x = df["date"]
for i in range(len(x)):
    print(x[i][1:])

2016/08/24 10:41:52
2016/08/24 10:45:16
2016/08/24 10:45:21
2016/08/24 10:45:23
2016/08/24 15:06:16
2016/08/24 16:46:50
2016/08/24 16:46:52
2016/08/24 16:47:01
2016/08/24 16:47:02
2016/08/24 16:47:08

In [11]:
# pivot the data
pt = pd.pivot_table(df, index=['localization'], values=["total time"], aggfunc=[np.mean, np.std, np.min, np.max, len])
pt

                      mean           std       amin       amax        len
                total time    total time total time total time total time
localization
 combined     10746.982143  13536.944633        165      45586         56
 local          184.476190    245.395599          0       1012         42
 remote       10824.800000  26263.728524        144      97115         25

In [41]:
header = [{'category','date','type','expression','localization','local time','remote time','total time','status','Total Events', 'Unique Events', 'Event Value', 'Avg. Value'}]
n = len(header[0])
n

13

In [84]:
def readGoogleAnalytics(file_name):
    d = open(file_name)
    df = pd.DataFrame(columns=('expr','kind','local','combined','local_time','remote_time','total_time','status'))
    i = 0
    for line in d:
        write_line = False
        words = line.split(sep=',')
        expr = ''
        subs = "expr="
        if any(subs in s for s in words):
            expr = [s for s in words if subs in s]
            expr = ''.join(expr)
            expr = expr[5:]
            write_line = True
        kind =''
        subs = "kind="
        if any(subs in s for s in words):
            kind = [s for s in words if subs in s]
            kind = ''.join(kind)
            kind = kind[6:]
        subs = "local"
        if (any(subs in s for s in words)) and (not(any("time" in s for s in words))):
            local = True
        else:
            local = False
        subs = "combined"
        if any(subs in s for s in words):
            combined = True
        else:
            combined = False
        subs = "local time="
        if any(subs in s for s in words):
            local_time = [s for s in words if subs in s]
            local_time = ''.join(local_time)
            local_time = local_time[12:]
            local_time = local_time[:-2]
        else:
            local_time = 0
        subs = "remote time="
        if any(subs in s for s in words):
            remote_time = [s for s in words if subs in s]
            remote_time = ''.join(remote_time)
            remote_time = remote_time[13:]
            remote_time = remote_time[:-2]
        else:
            remote_time = 0
        subs = "total="
        if any(subs in s for s in words):
            total_time = [s for s in words if subs in s]
            total_time = ''.join(total_time)
            total_time = total_time[7:]
            total_time = total_time[:-2]
        else:
            total_time = 0
        status =''
        subs = "status="
        if any(subs in s for s in words):
            status = [s for s in words if subs in s]
            status = ''.join(status)
            status = status[8:]
        if write_line:
            local_time = int(total_time) - int(remote_time)
            df.loc[i] = [expr,kind,local,combined,local_time,remote_time,total_time,status]
            i = i+1
    return df

In [85]:
df = readGoogleAnalytics('completion_events.csv')

In [86]:
df

,expr,kind,local,combined,local_time,remote_time,total_time,status
0,np,EXPRESSION_ATTRIBUTES,True,False,140.0,0,140,OK
1,x,EXPRESSION_ATTRIBUTES,True,False,14.0,0,14,OK
2,x,EXPRESSION_ATTRIBUTES,True,False,21.0,0,21,OK
3,x,EXPRESSION_ATTRIBUTES,True,False,23.0,0,23,OK
4,x[0],EXPRESSION_ATTRIBUTES,False,True,0.0,123,123,OK
5,x[0],EXPRESSION_ATTRIBUTES,False,True,0.0,125,125,OK
6,"=""""""""",EXPRESSION_ATTRIBUTES,False,True,0.0,1637,1637,OK
7,"=""""""""",EXPRESSION_ATTRIBUTES,False,True,0.0,18955,18955,OK
8,"=""""""""",EXPRESSION_ATTRIBUTES,False,True,0.0,3089,3089,OK
9,asd,EXPRESSION_ATTRIBUTES,False,True,8.0,204,212,OK
10,find_subsets([1,EXPRESSION_ATTRIBUTES,False,True,0.0,48,48,OK
11,itertools,EXPRESSION_ATTRIBUTES,False,True,12.0,610,622,OK
12,itertools,EXPRESSION_ATTRIBUTES,True,False,52.0,0,52,OK
13,itertools.combinations([1,EXPRESSION_ATTRIBUTES,False,True,1.0,1580,1581,OK
14,lr,EXPRESSION_ATTRIBUTES,False,True,107.0,358,465,OK
15,lr,EXPRESSION_ATTRIBUTES,False,True,50.0,366,416,OK
16,np,EXPRESSION_ATTRIBUTES,False,True,1265.0,16934,18199,OK
17,np,EXPRESSION_ATTRIBUTES,False,True,13.0,22310,22323,OK
18,np,EXPRESSION_ATTRIBUTES,False,True,20.0,8861,8881,OK
19,np,EXPRESSION_ATTRIBUTES,False,True,24.0,34646,34670,OK
20,np,EXPRESSION_ATTRIBUTES,False,True,52.0,26831,26883,OK
21,np,EXPRESSION_ATTRIBUTES,True,False,150.0,0,150,OK
22,np,EXPRESSION_ATTRIBUTES,True,False,229.0,0,229,OK
23,np,EXPRESSION_ATTRIBUTES,True,False,348.0,0,348,OK
24,np,EXPRESSION_ATTRIBUTES,True,False,400.0,0,400,OK
25,np,EXPRESSION_ATTRIBUTES,True,False,92.0,0,92,OK
26,sklearn,FROM_IMPORT,False,True,0.0,906,906,OK
27,sklearn,MODULE_ATTRIBUTES,False,True,0.0,237,237,OK
28,sklearn,MODULE_ATTRIBUTES,False,True,0.0,275,275,OK
29,sklearn,MODULE_ATTRIBUTES,False,True,0.0,277,277,OK
...,...,...,...,...,...,...,...,...
35,x,EXPRESSION_ATTRIBUTES,True,False,22.0,0,22,OK
36,x.conjugate(),EXPRESSION_ATTRIBUTES,False,True,0.0,1546,1546,OK
37,x.conjugate().denominator,EXPRESSION_ATTRIBUTES,False,True,0.0,153,153,OK
38,x.conjugate().denominator,EXPRESSION_ATTRIBUTES,False,True,0.0,223,223,OK
39,x.conjugate().denominator.real,EXPRESSION_ATTRIBUTES,False,True,0.0,147,147,OK
40,x[0],EXPRESSION_ATTRIBUTES,False,True,0.0,1054,1054,OK
41,x[0],EXPRESSION_ATTRIBUTES,False,True,0.0,119,119,OK
42,x[0],EXPRESSION_ATTRIBUTES,False,True,0.0,311,311,OK
43,x[0],EXPRESSION_ATTRIBUTES,False,True,1.0,119,120,OK
44,x[0],EXPRESSION_ATTRIBUTES,False,True,1.0,128,129,OK
45,x[0],EXPRESSION_ATTRIBUTES,False,True,1.0,2913,2914,OK
46,x[0],EXPRESSION_ATTRIBUTES,False,True,1.0,7417,7418,OK
47,y,EXPRESSION_ATTRIBUTES,True,False,19.0,0,19,OK
48,y,EXPRESSION_ATTRIBUTES,True,False,22.0,0,22,OK
49,y,EXPRESSION_ATTRIBUTES,True,False,393.0,0,393,OK
50,y[-1],EXPRESSION_ATTRIBUTES,False,True,0.0,1669,1669,OK
51,y[-1],EXPRESSION_ATTRIBUTES,False,True,0.0,2106,2106,OK
52,y[-1],EXPRESSION_ATTRIBUTES,False,True,0.0,2352,2352,OK
53,y[-1],EXPRESSION_ATTRIBUTES,False,True,0.0,2635,2635,OK
54,y[-1],EXPRESSION_ATTRIBUTES,False,True,0.0,2644,2644,OK
55,y[-1],EXPRESSION_ATTRIBUTES,False,True,0.0,4250,4250,OK
56,y[-1],EXPRESSION_ATTRIBUTES,False,True,1.0,2726,2727,OK
57,y[0],EXPRESSION_ATTRIBUTES,False,True,0.0,1069,1069,OK
58,y[0],EXPRESSION_ATTRIBUTES,False,True,0.0,115,115,OK
59,y[0],EXPRESSION_ATTRIBUTES,False,True,0.0,119,119,OK
60,y[0],EXPRESSION_ATTRIBUTES,False,True,0.0,224,224,OK
61,y[0],EXPRESSION_ATTRIBUTES,False,True,0.0,397,397,OK
62,y[1],EXPRESSION_ATTRIBUTES,False,True,0.0,122,122,OK
63,y[1][0],EXPRESSION_ATTRIBUTES,False,True,0.0,414,414,OK
64,y[2],EXPRESSION_ATTRIBUTES,False,True,0.0,140,140,OK

In [88]:
# data casting
df["local_time"] = df["local_time"].astype(int)
df["remote_time"] = df["remote_time"].astype(int)
df["total_time"] = df["total_time"].astype(int)
# pivot the data
pt = pd.pivot_table(df,index=['expr','local'],values=["total_time"],aggfunc=[np.mean,np.std,np.min,np.max,len])
pt

                                              mean          std       amin  \
                                        total_time   total_time total_time
expr                           local
=""""                          False   7893.666667  9606.867197       1637
asd                            False    212.000000          NaN        212
find_subsets([1                False     48.000000          NaN         48
itertools                      False    622.000000          NaN        622
                               True      52.000000          NaN         52
itertools.combinations([1      False   1581.000000          NaN       1581
lr                             False    440.500000    34.648232        416
np                             False  22191.200000  9628.731651       8881
                               True     226.500000   123.527730         92
sklearn                        False    399.000000   284.321121        237
sklearn.datasets               False   1631.666667   347.340371       1233
x                              True      18.600000     4.722288         13
x.conjugate()                  False   1546.000000          NaN       1546
x.conjugate().denominator      False    188.000000    49.497475        153
x.conjugate().denominator.real False    147.000000          NaN        147
x[0]                           False   1368.111111  2448.370910        119
y                              True     144.666667   215.068206         19
y[-1]                          False   2626.142857   807.187180       1669
y[0]                           False    384.800000   399.242032        115
y[1]                           False    122.000000          NaN        122
y[1][0]                        False    414.000000          NaN        414
y[2]                           False    140.000000          NaN        140

                                           amax        len
                                     total_time total_time
expr                           local
=""""                          False      18955          3
asd                            False        212          1
find_subsets([1                False         48          1
itertools                      False        622          1
                               True          52          1
itertools.combinations([1      False       1581          1
lr                             False        465          2
np                             False      34670          5
                               True         400          6
sklearn                        False        906          5
sklearn.datasets               False       1869          3
x                              True          23          5
x.conjugate()                  False       1546          1
x.conjugate().denominator      False        223          2
x.conjugate().denominator.real False        147          1
x[0]                           False       7418          9
y                              True         393          3
y[-1]                          False       4250          7
y[0]                           False       1069          5
y[1]                           False        122          1
y[1][0]                        False        414          1
y[2]                           False        140          1

In [83]:
pt.columns

MultiIndex(levels=[['mean', 'std', 'amax', 'len'], ['total_time']],
           labels=[[0, 1, 2, 3], [0, 0, 0, 0]])

In [89]:
# pivot the data
pt = pd.pivot_table(df,index=['expr','local'],values=["local_time"],aggfunc=[np.mean,np.std,np.min,np.max,len])
pt

                                            mean         std       amin  \
                                      local_time  local_time local_time
expr                           local
=""""                          False    0.000000    0.000000          0
asd                            False    8.000000         NaN          8
find_subsets([1                False    0.000000         NaN          0
itertools                      False   12.000000         NaN         12
                               True    52.000000         NaN         52
itertools.combinations([1      False    1.000000         NaN          1
lr                             False   78.500000   40.305087         50
np                             False  274.800000  553.737031         13
                               True   226.500000  123.527730         92
sklearn                        False    0.000000    0.000000          0
sklearn.datasets               False    0.333333    0.577350          0
x                              True    18.600000    4.722288         13
x.conjugate()                  False    0.000000         NaN          0
x.conjugate().denominator      False    0.000000    0.000000          0
x.conjugate().denominator.real False    0.000000         NaN          0
x[0]                           False    0.444444    0.527046          0
y                              True   144.666667  215.068206         19
y[-1]                          False    0.142857    0.377964          0
y[0]                           False    0.000000    0.000000          0
y[1]                           False    0.000000         NaN          0
y[1][0]                        False    0.000000         NaN          0
y[2]                           False    0.000000         NaN          0

                                           amax        len
                                     local_time local_time
expr                           local
=""""                          False          0          3
asd                            False          8          1
find_subsets([1                False          0          1
itertools                      False         12          1
                               True          52          1
itertools.combinations([1      False          1          1
lr                             False        107          2
np                             False       1265          5
                               True         400          6
sklearn                        False          0          5
sklearn.datasets               False          1          3
x                              True          23          5
x.conjugate()                  False          0          1
x.conjugate().denominator      False          0          2
x.conjugate().denominator.real False          0          1
x[0]                           False          1          9
y                              True         393          3
y[-1]                          False          1          7
y[0]                           False          0          5
y[1]                           False          0          1
y[1][0]                        False          0          1
y[2]                           False          0          1

In [10]:
from datetime import datetime
datemin = datetime(2015, 1, 4, 0, 0)
datemin

datetime.datetime(2015, 1, 4, 0, 0)

In [14]:
x = df["date"]
t = []
for i in range(len(x)):
    t.append(datetime.strptime(x[i][1:], "%Y/%m/%d %H:%M:%S"))
t = sorted(t)

In [18]:
datemin = t[0]
datemax = t[len(t)-1]
datemax

datetime.datetime(2016, 8, 28, 21, 59, 32)

In [22]:
y = df["total time"]

In [31]:
import matplotlib.pyplot as plt
from matplotlib import dates
days = dates.DayLocator()
hours = dates.HourLocator(interval=3)
dfmt = dates.DateFormatter('              %b %d')
fig = plt.figure()
ax = fig.add_subplot(111)
ax.xaxis.set_major_locator(days)
ax.xaxis.set_major_formatter(dfmt)
ax.xaxis.set_minor_locator(hours)
ax.set_xlim(datemin, datemax)
ax.set_ylabel('Total time')
ax.grid(True)
ax.plot_date(t, y, linewidth=2)
fig.set_size_inches(8, 4)
plt.show()